input
{
    background-color: #C7C7C7;
    border: none;
    border-radius: 12px;
    height: 30px;
    width: 70px;
    font-size: 16px;
    padding: 6px;
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}